<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReqChServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.ReqChServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReqMServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.ReqMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepoSMServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.DepoSMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepoPMServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.DepoPMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimAuthServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.PrimAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAuthServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.SaveAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAuthServlet</servlet-name>
        <servlet-class>com.learn.icinbank.servlets.UserAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReqChServlet</servlet-name>
        <url-pattern>/ReqChServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReqMServlet</servlet-name>
        <url-pattern>/ReqMServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepoSMServlet</servlet-name>
        <url-pattern>/DepoSMServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepoPMServlet</servlet-name>
        <url-pattern>/DepoPMServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimAuthServlet</servlet-name>
        <url-pattern>/PrimAuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAuthServlet</servlet-name>
        <url-pattern>/SaveAuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAuthServlet</servlet-name>
        <url-pattern>/UserAuthServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
